.footer{
    margin-top: 50px;
    width: 100%;
    background: black;
    padding: 47px 0;
    .footer__nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer__collection{
        display: flex;
        align-items: center;
        list-style: none;
        color: white;
        gap: 30px;
       .footer__item{
         &:hover{
            color: aqua;
        }
       }
    }
}
@media (max-width:755px) {
   .footer{
    margin-top: 50px;
    width: 100%;
    background: black;
    padding: 47px 0;
    .footer__nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 35px;
    }
    .footer__collection{
        display: flex;
        align-items: center;
        list-style: none;
        color: white;
        gap: 30px;
    }
}

}
@media (max-width:505px) {
   .footer{
    margin-top: 50px;
    width: 100%;
    background: black;
    padding: 47px 0;
    .footer__nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 35px;
    }
    .footer__collection{
        display: flex;
        align-items: center;
        list-style: none;
        color: white;
        flex-direction: column;
        gap: 30px;
    }
}
    }